:root {
  --bg-color: #1f242d;
  --text-color: #fff;
  --second-color: #323946;
  --main-color: #0ef;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 992px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .services {
    padding-bottom: 7rem;
  }
  .projects {
    padding-bottom: 7rem;
  }
  footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  header nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background-color: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
  }
  .icon-size{
    font-size: 20px;
  }
  header nav.active {
    display: block;
  }
  header nav a {
    display: block;
    font-size: 2rem;
    /* margin: 3rem 0; */
  }
  .home {
    flex-direction: column;
  }
  .home h3 {
    font-size: 2.6rem;
  }
  .home h1 {
    font-size: 5rem;
  }
  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }
  .about {
    flex-direction: column-reverse;
  }
  .about-img img {
    width: 70vw;
    margin-top: 4rem;
  }
  .services h2 {
    margin-bottom: 3rem;
  }
  .projects h2 {
    margin-bottom: 3rem;
  }
  .projects-container {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media (max-width: 617px) {
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .contact form .input-box input {
    width: 100%;
  }
}

@media (max-width: 365px) {
  .home-img img {
    width: 90vw;
  }
  .about-img img {
    width: 90vw;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}